<div class="navbar  greybox-hor">
    <img src="/img/favicon-32x32.png" class="icon">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">crangslist</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
        </ol>
    </nav>
</div>
