
<div class="container-fluid">

            <ul class="sidebar-nav">
                <li><a href="/">home</a></li>
                <hr />
                <li><a href="/region/create">create new region</a></li>
                <li><a href="/segment/create">create new section</a></li>
                <li><a href="/category/create">create new category</a></li>
                <li><a href="/posting/create">create new posting</a></li>
            </ul>

</div>

