*{
  margin: 0px;
  padding: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: 300px minmax(500px, auto);
  gap: 20px;

}

a {
  color:#5757ee;
  text-decoration: none;
}

.sidebar-nav {
  margin-top: 20px;
  list-style: none;
  grid-row: 1/3;
}

.navbar {
  grid-column: 1/3;
  background-color:#eeeeee;
  border: 1px solid #e6e6e6;
  display: grid;
  grid-template-columns: 52px 1fr;
  align-content: center;
}

.breadcrumb {
  margin:0px;
}

.form-inline {
  display: grid;
  grid-template-columns: 0px 1fr 50px;
  gap: 15px;
}

.form {
  grid-column: 2/3;
}

.carousel {
  margin: 10px;
  height: 450px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  max-width: 300px;
}

.card-container {
  padding: 15px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: stretch;
}

.card {
  max-width: 300px;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(202, 202, 202);
}

.card-img {
  width: 75%;
  height: 75%;
}

img.icon {
  border-radius: 50%;
  margin: 0px 10px;
}

img.card-img-top {
  width:100%; 
  height:100%;
  object-fit: contain;
}

.error-list {
  margin-top: 20px;
  list-style: none;
}