body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: 300px minmax(500px, auto);
  gap: 20px;

}

a {
  color: #00B7FF;
  text-decoration: none;
}

.sidebar-nav {
  margin-top: 20px;
  list-style: none;
  grid-row: 1/3;
}

.navbar {
  grid-column: 1/3;
  margin-left: 40px;
}

.carousel {
  margin: 10px;
  height: 450px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  max-width: 300px;

}

.img {
  width: auto;
  height: 300px;
}